<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Survey Form</title>
</head>
<body>
    <div id="wrap" class="d-flex flex-column w-100 h-100 align-items-center justify-content-center p-5">
        <div>
            <p>You visited this page <span><%= visit %></span> times</p>
        </div>
        <p>You have <span><%= count %></span> Cars</p>
        <p>The cars in the database are as follows</p>
        <ul>
            <% for(let car of cars){ %>
                <li><%= car.name %> - <%= car.year %></li>
            <% } %>
        </ul>
    </div>
</body>
</html>